@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Craftwork Grotesk";
  src: url("../src/fonts/craftwork-grotesk/CraftworkGrotesk-Regular.ttf");
  font-weight: 4000;
  font-style: normal;
}

@font-face {
  font-family: "Craftwork Grotesk";
  src: url("../src/fonts/craftwork-grotesk/CraftworkGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Craftwork Grotesk";
  src: url("../src/fonts/craftwork-grotesk/CraftworkGrotesk-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Craftwork Grotesk";
  src: url("../src/fonts/craftwork-grotesk/CraftworkGrotesk-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Craftwork Grotesk";
  src: url("../src/fonts/craftwork-grotesk/CraftworkGrotesk-Heavy.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Web Paint";
  src: url("../src/fonts/rubik_wet-paint/RubikWetPaint-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Craftwork Grotesk", sans-serif !important;
}
.font-rubik {
  font-family: "Rubik Web Paint", sans-serif !important;
}
.custom-content::before {
  content: "";
  display: block;
  background-size: cover;
  background-image: url("/quotes.png");
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
  top: -60px;
  left: -40px;
  opacity: 0.2;
}
.custom-content::after {
  content: "";
  display: block;
  background-size: cover;
  background-image: url("/quotes.png");
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
  bottom: -50px;
  right: -20px;
  rotate: 180deg;
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(72, 68, 90);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(69, 65, 88);
}

.list-item {
  background-color: #35344a !important;
}
.hover {
  background-color: #474466 !important;
  cursor: pointer !important;
}
.multi-item {
  background-color: #474466 !important;
  outline: none !important;
  cursor: pointer !important;
}
.svelte-82qwg8::placeholder {
  font-size: 15px !important;
  color: #6b7280;
}
